#!/usr/bin/make -f
#
# PLUCS
#  rules file for the debian package
#
# Copyright 2013-2015 it25 GmbH
#
# http://www.it25.de/
#
# All rights reserved.
#
# The source code of this program is made available
# under the terms of the GNU Affero General Public License version 3
# (GNU AGPL V3) as published by the Free Software Foundation.
#
# In the case you use this program under the terms of the GNU AGPL V3,
# the program is provided in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License with the Debian GNU/Linux or Univention distribution in file
# /usr/share/common-licenses/AGPL-3; if not, see
# <http://www.gnu.org/licenses/>.


override_dh_auto_test:
	ucslint

override_dh_auto_build:
	docbook2html -o docs -u docs/manual.xml
	dh_auto_build

override_dh_auto_install:
	univention-install-config-registry
	dh_auto_install

%:
	dh $@
